<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if state %}
    <h1>State: {{state.name}}</h1>
    <h3>Cities: </h3>
    <ul>
        {% for city in state.cities %}
            <li>{{city.id}}: <b>{{city.name}}</b></li>
        {% endfor %}
    </ul>
    {% elif states %}
        <h2>States</h2>
        <ul>
            {% for state in states %}
                <li>{{state.id}}: <b>{{state.name}}</b></li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Not found</h2>
    {% endif %}
</body>
</html>